
<li>
  <h3>{{rental.owner}}'s {{rental.type}} in {{rental.city}}</h3>
  {{#if isImageShowing }}
    <p><img src={{rental.image}} alt={{rental.type}} {{action 'imageHide'}}></p>
  {{else}}
    <img src="{{rental.image}}" alt="" style="width:30%"/>
  {{/if}}
  {{update-rental rental=rental update="update"}}
  <button class="btn btn-default" {{action 'delete' rental}}>Delete</button>

</li>
